language: node_js

env:
   - DATABASE_URL=postgresql://postgres@localhost:5432/my_taxi_tests_travis;

node_js:
  - 12

before_script:
  - psql -c 'create database my_taxi_tests_travis;' -U postgres
  - psql -U postgres -d my_taxi_tests_travis -a -f sql/tables.sql
  - psql -U postgres -d my_taxi_tests_travis -a -f sql/data.sql
 
services:
  - postgresql